.press-start-2p-regular {
   font-family: "Press Start 2P", system-ui;
   font-weight: 400;
   font-style: normal;
}

/* General Styles */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   border-width: 0;
   background-color: #f7f7f7;
   color: #333;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 15px;
}

nav ul li {
   display: inline;
}

nav ul li a {
   text-decoration: none;
   color: white;
   font-weight: bold;
}

nav ul li a:hover {
   text-decoration: underline;
}

/* Main Content */
main {
   flex: 1;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "header      header      header"
      ".           title       cfgBtn"
      "petName     yNickName   petImg"
      "species     pronoun     petImg"
      "personality description createBtn"
      "footer      footer      footer";
   gap: 5px;
   text-align: center;
}

/* Header */
header {
   grid-area: header;
   background-color: #ffa24c;
   color: white;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header h1 {
   margin: 0;
   font-size: 1.5em;
}

.title {
   grid-area: title;
   background-color: #ffa24c;
   border-radius: 15px;
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 2em;
   font-family: 'Press Start 2P';
}

.cfgBtn {
   grid-area: cfgBtn;
   justify-self: end;
   align-self: start;
   background-color: #ffa24c;
   border: none;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.cfgBtn::before {
   content: "\2699";
   font-size: 35px;
   color: white;
   position: relative;
   top: -6%;
}
.cfgBtn:hover {
   background-color: #e69143;
}

.petName {
   grid-area: petName;
   background-color: #b1d690;
   border-radius: 30px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-self: start; /* Align the grid item to the start */
   justify-self: center; /* Align the grid item to the center */
   justify-content: flex-start; /* Align content to the bottom */
   align-items: center; /* Center content horizontally */
   height: auto; /* Fit the height to the content */
   width: 80%;
}
.petName h2 {
   margin: 2%;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
}
.petName input {
   align-self: center; /* Align the input element to the bottom */
   background-color: #f8fae5;
   height: 20%;
   width: 70%;
   padding: 5px;
   border: none;
   border-radius: 50px;
   font-size: 1em;
   font-family: 'Press Start 2P';
}

.yNickName {
   grid-area: yNickName;
   background-color: #b1d690;
   border-radius: 30px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-self: start; /* Align the grid item to the start */
   justify-self: center; /* Align the grid item to the center */
   justify-content: flex-start; /* Align content to the bottom */
   align-items: center; /* Center content horizontally */
   height: auto; /* Fit the height to the content */
   width: 80%;
}
.yNickName h2 {
   margin: 2%;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
}
.yNickName input {
   align-self: center; /* Align the input element to the bottom */
   background-color: #f8fae5;
   height: 20%;
   width: 70%;
   padding: 5px;
   border: none;
   border-radius: 50px;
   font-size: 1em;
   font-family: 'Press Start 2P';
}

.petImg {
   grid-area: petImg;
   position: relative; /* Create a stacking context */
   max-width: 100%;
   height: 45vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.petImg img {
   position: absolute; /* Position images absolutely within the container */
   max-width: 100%;
   height: auto;
}
#tree {
   z-index: 1;
   height: 100%;
}
#pet {
   z-index: 2;
   height: 30%;
   left: 45%;
   bottom: -5%;
}

.species {
   grid-area: species;
   display: flex;
   flex-direction: column;
   justify-content: center; /* Center content vertically */
   align-items: center; /* Center content horizontally */
   text-align: center;
}
.species .selectionHeader {
   font-size: 1em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
   background-color: #b1d690;
   border-radius: 20px;
   height: 75%; /* Adjust height to cover half of the grid area */
   width: 80%;
}
.species .selectionOptions {
   position: relative;
   top: -15%; /* Adjust this value as needed to position the options correctly */
   width: 60%;
   height: 100%; /* Extend to the end of the grid area */
}
.option {
   display: flex;
   align-items: center;
   background-color: #f7f8dc;
   border: 2px solid #b2c89b;
   border-radius: 5px;
   padding: 8px 10px;
   cursor: pointer;
   font-size: 16px;
}
.option img {
   width: 20px;
   height: 20px;
   margin-right: 10px;
}
.option.selected {
   background-color: #e5f5d3;
   border-color: #6c7b59;
}

.pronoun {
   grid-area: pronoun;
   background-color: #b1d690;
   border-radius: 30px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-self: start; /* Align the grid item to the start */
   justify-self: center; /* Align the grid item to the center */
   height: auto;
   width: 80%;
}
.pronoun h2 {
   margin: 2%;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
}
.pronoun .radio-group {
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* Align radio buttons to the left */
   width: 100%;
   position: relative;
   left: 8%;
   font-family: 'Press Start 2P';
}
.pronoun .radio-group label {
   display: flex;
   align-items: center;
   margin-bottom: 5px;
}
.pronoun .radio-group input[type="radio"] {
   margin-right: 10px;
}

.personality {
   grid-area: personality;
   background-color: #b1d690;
   border-radius: 30px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-self: start;
   justify-self: center;
   justify-content: flex-start;
   align-items: center;
   height: auto;
   width: 80%;
}
.personality h2 {
   margin: 2%;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
}
.meter-container {
   display: flex;
   align-items: center;
   width: 100%;
   margin: 10px 0;
}
.meter-container label {
   width: 20%; /* Adjust width as needed */
   text-align: right;
   margin-right: 10px;
   font-size: 0.8em;
   color: #333;
}
.personality meter {
   width: 70%; /* Adjust width as needed */
   height: 20px;
   margin: 1px;
}
#anger::-webkit-meter-optimum-value {
   background: #da2f47;
}
#anger::-moz-meter-bar {
   background: #da2f47;
}
#anger::-ms-fill {
   background: #da2f47;
}
#happiness::-webkit-meter-optimum-value {
   background: #00bf63;
}
#happiness::-moz-meter-bar {
   background: #00bf63;
}
#happiness::-ms-fill {
   background: #00bf63;
}
#sadness::-webkit-meter-optimum-value {
   background: rgb(2, 2, 146);
}
#sadness::-moz-meter-bar {
   background: rgb(2, 2, 146);
}
#sadness::-ms-fill {
   background: rgb(2, 2, 146);
}

.description {
   grid-area: description;
   background-color: #b1d690;
   border-radius: 30px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-self: start; /* Align the grid item to the start */
   justify-self: center; /* Align the grid item to the center */
   justify-content: flex-start; /* Align content to the bottom */
   align-items: center; /* Center content horizontally */
   height: auto; /* Fit the height to the content */
   width: 80%;
}
.description h2 {
   margin: 2%;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
}
.description p {
   align-self: center; /* Align the input element to the bottom */
   background-color: #f8fae5;
   height: auto;
   max-width: 100%;
   padding: 5px;
   border-radius: 15px;
   border: none;
   font-size: 1em;
   font-family: 'Press Start 2P';
   word-wrap: break-word;
   overflow-wrap: break-word;
   text-align: left;
}


.createBtn {
   grid-area: createBtn;
   background-color: #ffa24c;
   border-radius: 30px;
   width:  50%;
   height: 50%;
   display: flex;
   align-self: flex-end;
   justify-self: center;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 2em;
   font-family: 'Press Start 2P';
   font-weight: bold;
   cursor: pointer;
}
.createBtn:hover {
   background-color: #e69143;
}
.createBtn a {
   text-decoration: none;
   color: white;
}

/* Footer */
footer {
   grid-area: footer;
   background-color: #ffa24c;
   color: white;
   text-align: center;
}